// breakpoints
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1280px;

// 顏色
$primary-color: #AA6666;
$text-color: #000;
$white: #fff;
$background-color: #DCCCBC;

// 間距
$sidebar-top-padding: 78px;

// 尺寸
$sidebar-width: 345px;
$logo-size: 97px;
$mobile-logo-size: 48px;

// 動畫
$transition-timing: 0.3s; 